jQuery.markItUp({ openWith:'<a href="'+ '<%= escape_javascript(@page_asset.attachment.url.split('?').first) %>' +'" class="page_asset" />', closeWith:'</a>', placeHolder:'INSERT LINK TEXT' });
jQuery.facebox.close();
